/* Product Info Section */
.product-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
  max-width: 375px;
}

/* Product Measurements */
.product-info p:first-child {
  font-family: var(--font-main);
  font-weight: var(--fw-bold);
  font-size: var(--fs-p-sec);
  line-height: 26px;
  color: var(--color-lightgray);
  margin-bottom: 4px;
}

.product-info p:nth-child(2) {
  font-family: var(--font-main);
  font-weight: var(--fw-bold);
  font-size: var(--fs-h4);
  line-height: 32px;
  color: var(--color-text);
}

/* Choose Color Section */
.product-info p:nth-child(3) {
  display: flex;
  align-items: center;
  font-family: var(--font-main);
  font-weight: var(--fw-bold);
  font-size: var(--fs-p);
  color: var(--color-lightgray);
  gap: 4px;
}

.simple-arrow {
  width: 24px;
  height: 24px;
}

/* Selected Color */
.product-info p:nth-child(4) {
  font-family: var(--font-main);
  font-weight: var(--fw-semibold);
  font-size: var(--fs-h4);
  color: var(--color-text);
}

/* Color Picker (Swatches) */
.color-picker {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
}

.color-picker img {
  width: 72px;
  height: 72px;
  border: 1px solid #141718;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.color-picker img:hover {
  transform: scale(1.05);
}

.product-loop {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
}

.product-loop div {
  display: flex;
  justify-content: space-between;
  width: 150%;
}

.product-loop p:first-child {
  font-family: var(--font-main);
  font-weight: var(--fw-bold);
  font-size: var(--fs-p-sec);
  color: var(--color-lightgray);
}

.product-loop p:last-child {
  font-family: var(--font-main);
  font-weight: var(--fw-semibold);
  font-size: var(--fs-p);
  color: var(--color-text);
}
