.reviews-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  width: 375px;
}

.reviews-section h2 {
  font-family: var(--font-sec);
  font-weight: var(--fw-semibold);
  font-size: var(--sf-h4);
  line-height: 28px;
  color: var(--color-text);
}

.reviews {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 24px;
  width: 100%;
}

.rating {
  display: flex;
  align-items: left;
  gap: 4px;
}

.rating img {
  width: 16px;
  height: 16px;
}

.review-count {
  font-family: var(--font-main);
  font-weight: var(--fw-semibold);
  font-size: var(--fs-acc);
  color: var(--color-text);
}

.write-review {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.write-review span {
  font-family: var(--font-main);
  font-weight: var(--fw-semibold);
  font-size: var(--fs-p);
  color: var(--color-form);
}

.write-review strong {
  font-weight: var(--fw-bold);
  color: var(--color-text);
}

.feedback-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color-form);
  border: 2px solid #e8ecef;
  border-radius: 16px;
  padding: 16px 24px;
  width: 100%;
}

.feedback-form input {
  border: none;
  background: transparent;
  font-family: "Inter", sans-serif;
  font-size: var(--fs-p-sec);
  width: 100%;
}

.feedback-form button {
  background: var(--bg-black);
  width: 32px;
  height: 32px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
}

.feedback-form button img {
  width: 24px;
  height: 24px;
}
