/* Carousel */

.carousel {
  margin-bottom: 32px;
}

.carousel-item img {
  object-fit: cover;
  height: 304px;
}

.carousel-indicators {
  gap: 16px;
}

.carousel-indicators button {
  width: 8px !important;
  height: 8px !important;
  transition: 0.45s !important;
}

.carousel-indicators .active {
  width: 30px !important;
}
