/* Quote */

.quote {
  margin-bottom: var(--margin-vertical);
  padding-inline: var(--padding-horizontal);
}

/* Header */
.quote h1 {
  margin-bottom: 16px;
}

/* Text */
.quote p {
  font-weight: var(--fw-bold);
  color: var(--color-acc);
  font-size: var(--fs-p-sec);
  line-height: var(--lh-p-sec);
}

/* Highlight */
.quote span {
  color: var(--color-gray);
}
