/* Products */

.products {
  margin-bottom: 80px;
}

/* Products container */
.products-container {
  margin-inline: var(--margin-horizontal);
  margin-bottom: 32px;
}

.products-grid-double-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 7px;
}
.products-grid-single-column {
  display: block;
}

/* Product image */
.product-image {
  width: 152px;
  height: 203px;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 16px;
  margin-bottom: 12px;
}

/* Product top */
.product-top-left {
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
}
.product-top-left span {
  font-family: var(--font-main);
  font-weight: var(--fw-bolder);
  font-size: var(--fs-p);
  text-transform: uppercase;
  border-radius: 4px;
  padding: 4px 14px;
  text-transform: uppercase;
}

/* Sign */
.sign {
  color: var(--color-text);
  background: #fff;
}

/* Discount */
.discount {
  color: #fefefe;
  background: var(--bg-discount);
}

/* Rating */
.rating {
  display: flex;
  gap: 2px;
  margin-bottom: 4px;
}

/* Product name */
.product-name {
  font-family: var(--font-main);
  font-weight: var(--fw-bold);
  font-size: var(--fs-p-sec);

  /* line-height: 22px; */
  line-height: var(--lh-p-sec);
  color: var(--color-text);
  margin-bottom: 4px;
}

/* Price */
.price {
  font-family: var(--font-main);
  font-size: var(--fs-acc);
  line-height: var(--lh-p-sec);
}

/* Current price */
.current-price {
  margin-right: 12px;
  color: var(--color-text);
  font-weight: var(--fw-bold);
}

/* Previous price */
.prev-price {
  text-decoration: line-through;
  color: var(--color-acc);
}
